* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: "lato", sans-serif;
}

:root {
  font-size: 1vw;
}

canvas {
  position: fixed;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  height: 100svh;
  width: 100svw;
  z-index: 99;
}
@media (max-width: 800px) {
  canvas {
    display: none;
  }
}

#polygons {
  width: 100svw;
  height: 100svh;
  position: absolute;
  pointer-events: none;
  overflow: hidden !important;
}
#polygons svg {
  animation: 27s rotate-anim linear infinite;
  height: 57em;
  width: 57em;
  position: absolute;
  top: 50%;
  right: -20%;
  overflow: hidden;
}
@media (max-width: 600px) {
  #polygons svg {
    right: -25%;
    top: 70%;
    width: 107em;
    height: 107em;
  }
}

body {
  background: #202020;
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start !important;
}
body .loading-screen {
  height: 100svh;
  width: 100svw;
  position: fixed;
  top: 0;
  background: #202020;
  z-index: 999;
  cursor: progress;
  color: #dfdfdf;
  font-family: "lato", sans-serif;
  font-weight: 900;
  font-size: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .loading-screen * {
  cursor: progress;
}
body .loading-screen .container {
  border: 2px dashed red;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .transition {
  position: fixed;
  top: 0;
  height: 100svh;
  width: 100svw;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;
}
body .transition .container {
  width: 100svw;
  display: flex;
}
body .transition .container .block {
  border-bottom: #dfdfdf 2px solid;
  transform: translateY(-2px);
}
body .transition .container .block.appear {
  height: 50svh;
  transform: translateY(0px);
}
body .transition .container:not(:first-of-type) {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: row-reverse;
}
body .transition .container:not(:first-of-type) .block {
  border-bottom: none !important;
  border-top: #dfdfdf 2px solid;
  transform: translateY(2px);
}
body .transition .container:not(:first-of-type) .block.appear {
  height: 50svh;
  transform: translateY(0px);
}
body .transition .block {
  transition: 0.5s;
  height: 0svh;
  width: 10svw;
  overflow: hidden;
  position: relative;
}
body .transition .block:nth-of-type(0) {
  transition-delay: 0s;
  background: #202020;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(0) {
    display: none;
  }
}
body .transition .block:nth-of-type(1) {
  transition-delay: 0.075s;
  background: #212121;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(1) {
    display: none;
  }
}
body .transition .block:nth-of-type(2) {
  transition-delay: 0.15s;
  background: #212121;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(2) {
    display: none;
  }
}
body .transition .block:nth-of-type(3) {
  transition-delay: 0.225s;
  background: #222222;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(3) {
    display: none;
  }
}
body .transition .block:nth-of-type(4) {
  transition-delay: 0.3s;
  background: #232323;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(4) {
    display: none;
  }
}
body .transition .block:nth-of-type(5) {
  transition-delay: 0.375s;
  background: #232323;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(5) {
    display: none;
  }
}
body .transition .block:nth-of-type(6) {
  transition-delay: 0.45s;
  background: #242424;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(6) {
    width: 20svw;
  }
}
body .transition .block:nth-of-type(7) {
  transition-delay: 0.525s;
  background: #242424;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(7) {
    width: 20svw;
  }
}
body .transition .block:nth-of-type(8) {
  transition-delay: 0.6s;
  background: #252525;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(8) {
    width: 20svw;
  }
}
body .transition .block:nth-of-type(9) {
  transition-delay: 0.675s;
  background: #262626;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(9) {
    width: 20svw;
  }
}
body .transition .block:nth-of-type(10) {
  transition-delay: 0.75s;
  background: #262626;
}
@media (max-width: 1000px) {
  body .transition .block:nth-of-type(10) {
    width: 20svw;
  }
}
body nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  body nav {
    padding: 10svh 0;
  }
}
body nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  gap: 3em;
}
body nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 77px;
  width: 77px;
  background: transparent;
  color: #dfdfdf;
  border-radius: 77px;
  overflow: hidden;
  font-size: 57px;
  text-align: center;
  line-height: 120%;
  font-family: monospace;
}
@media (max-width: 2000px) {
  body nav ul li {
    height: 67px;
    width: 67px;
    font-size: 47px;
  }
}
@media (max-width: 1200px) {
  body nav ul li {
    height: 57px;
    width: 57px;
    font-size: 37px;
  }
}
@media (max-width: 800px) {
  body nav ul li {
    height: 47px;
    width: 47px;
    font-size: 27px;
  }
}
body nav ul li.active {
  background: #dfdfdf !important;
  color: #202020 !important;
}
body main .bottom-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .bottom-content-container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
body main .bottom-content-container .button-container button {
  height: 77px;
  width: 77px;
  background: transparent;
  color: #dfdfdf;
  border-radius: 77px;
  border: 3px solid #dfdfdf;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 24px;
  rotate: 180deg;
}
body main .bottom-content-container .button-container button:hover span {
  left: -50%;
}
body main .bottom-content-container .button-container button:hover span:first-of-type {
  scale: 0%;
}
body main .bottom-content-container .button-container button:hover span:last-of-type {
  scale: 100%;
}
body main .bottom-content-container .button-container button span {
  transition: 0.5s;
  font-size: 47px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
body main .bottom-content-container .button-container button span:last-of-type {
  scale: 0%;
}
@media (max-width: 1200px) {
  body main .bottom-content-container .button-container button {
    height: 57px;
    width: 57px;
    font-size: 37px;
    gap: 4px;
    margin-top: 2.7em;
  }
}
body main p {
  color: #dfdfdf;
  margin-top: 2.7em;
  margin-left: 4.7em;
  font-size: clamp(24px, 1.75em, 77px);
  width: fit-content;
  font-family: monospace;
}
@media (max-width: 550px) {
  body main p {
    margin-left: 2em;
  }
}
body main p span {
  display: inline-block;
  width: clamp(2px, 0.2em, 20px);
  height: clamp(2px, 0.2em, 20px);
  border-radius: 7px;
  background: #dfdfdf;
  margin-bottom: 4px;
}
body main h1 {
  font-size: clamp(75px, 10em, 7777px);
  color: #dfdfdf;
  cursor: none;
  display: flex;
  overflow: hidden;
  font-weight: 300;
  width: 100vw;
}
body main h1 span {
  letter-spacing: 7px;
  text-transform: uppercase;
}
body main h1 .container {
  display: flex;
  animation: 37s slide infinite linear;
  transform: translateX(0);
}
body main h1 .container .gap {
  height: 100%;
  width: 0.7em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */