* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  font-family: "lato", sans-serif;
}

:root {
  font-size: 1vw;
}

canvas {
  position: fixed;
  top: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  height: 100svh;
  width: 100svw;
  z-index: 99;
}
@media (max-width: 800px) {
  canvas {
    display: none;
  }
}

#polygons {
  width: 100svw;
  height: 100svh;
  position: absolute;
  pointer-events: none;
  overflow: hidden !important;
}
#polygons svg {
  animation: 27s rotate-anim linear infinite;
  height: 57em;
  width: 57em;
  position: absolute;
  top: 50%;
  right: -20%;
  overflow: hidden;
}
@media (max-width: 600px) {
  #polygons svg {
    right: -15%;
    top: 75%;
  }
}

body {
  background: #202020;
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start !important;
}
body .transition {
  position: fixed;
  top: 0;
  height: 100svh;
  z-index: 999;
  display: flex;
  flex-direction: column;
}
body .transition span {
  font-size: clamp(100px, 7em, 100vw);
  letter-spacing: 10px;
  font-family: "lato";
  color: rgba(0, 0, 0, 0.062745098);
  font-weight: 900;
  transition-delay: 0.5s;
}
body .transition .block {
  transition: 0.25s;
  height: 10%;
  width: 0svw;
  border-top-right-radius: 777px;
  border-bottom-right-radius: 777px;
  overflow: hidden;
  position: relative;
}
body .transition .block:nth-of-type(0) {
  transition-delay: 0s;
  background: #303030;
}
body .transition .block:nth-of-type(0) span {
  padding-left: 0%;
}
body .transition .block:nth-of-type(1) {
  transition-delay: 0.1s;
  background: #333333;
}
body .transition .block:nth-of-type(1) span {
  padding-left: 7%;
}
body .transition .block:nth-of-type(2) {
  transition-delay: 0.2s;
  background: #353535;
}
body .transition .block:nth-of-type(2) span {
  padding-left: 14%;
}
body .transition .block:nth-of-type(3) {
  transition-delay: 0.3s;
  background: #383838;
}
body .transition .block:nth-of-type(3) span {
  padding-left: 21%;
}
body .transition .block:nth-of-type(4) {
  transition-delay: 0.4s;
  background: #3a3a3a;
}
body .transition .block:nth-of-type(4) span {
  padding-left: 28%;
}
body .transition .block:nth-of-type(5) {
  transition-delay: 0.5s;
  background: #3d3d3d;
}
body .transition .block:nth-of-type(5) span {
  padding-left: 35%;
}
body .transition .block:nth-of-type(6) {
  transition-delay: 0.6s;
  background: #3f3f3f;
}
body .transition .block:nth-of-type(6) span {
  padding-left: 42%;
}
body .transition .block:nth-of-type(7) {
  transition-delay: 0.7s;
  background: #424242;
}
body .transition .block:nth-of-type(7) span {
  padding-left: 49%;
}
body .transition .block:nth-of-type(8) {
  transition-delay: 0.8s;
  background: #444444;
}
body .transition .block:nth-of-type(8) span {
  padding-left: 56%;
}
body .transition .block:nth-of-type(9) {
  transition-delay: 0.9s;
  background: #474747;
}
body .transition .block:nth-of-type(9) span {
  padding-left: 63%;
}
body .transition .block:nth-of-type(10) {
  transition-delay: 1s;
  background: #4a4a4a;
}
body .transition .block:nth-of-type(10) span {
  padding-left: 70%;
}
body .transition .block.appear {
  width: 100svw;
  border-radius: 0px;
}
body .transition .block.to-right {
  align-self: flex-end;
}
body nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 800px) {
  body nav {
    padding: 10svh 0;
  }
}
body nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  gap: 3em;
}
body nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 77px;
  width: 77px;
  background: transparent;
  color: #dfdfdf;
  border-radius: 77px;
  overflow: hidden;
  font-size: 57px;
  text-align: center;
  line-height: 120%;
  font-family: monospace;
}
@media (max-width: 2000px) {
  body nav ul li {
    height: 67px;
    width: 67px;
    font-size: 47px;
  }
}
@media (max-width: 1200px) {
  body nav ul li {
    height: 57px;
    width: 57px;
    font-size: 37px;
  }
}
@media (max-width: 800px) {
  body nav ul li {
    height: 47px;
    width: 47px;
    font-size: 27px;
  }
}
body nav ul li.active {
  background: #dfdfdf !important;
  color: #202020 !important;
}
body main .bottom-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main .bottom-content-container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
body main .bottom-content-container .button-container button {
  height: 77px;
  width: 77px;
  background: transparent;
  color: #dfdfdf;
  border-radius: 77px;
  border: 3px solid #dfdfdf;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 24px;
  rotate: 180deg;
}
body main .bottom-content-container .button-container button:hover span {
  left: -50%;
}
body main .bottom-content-container .button-container button:hover span:first-of-type {
  scale: 0%;
}
body main .bottom-content-container .button-container button:hover span:last-of-type {
  scale: 100%;
}
body main .bottom-content-container .button-container button span {
  transition: 0.5s;
  font-size: 47px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
body main .bottom-content-container .button-container button span:last-of-type {
  scale: 0%;
}
@media (max-width: 1200px) {
  body main .bottom-content-container .button-container button {
    height: 57px;
    width: 57px;
    font-size: 37px;
    gap: 4px;
    margin-top: 2.7em;
  }
}
body main p {
  color: #dfdfdf;
  margin-top: 2.7em;
  margin-left: 4.7em;
  font-size: clamp(17px, 1.25em, 77px);
  width: fit-content;
  font-family: monospace;
}
body main p span {
  display: inline-block;
  width: clamp(2px, 0.2em, 20px);
  height: clamp(2px, 0.2em, 20px);
  border-radius: 7px;
  background: #dfdfdf;
  margin-bottom: 4px;
}
body main h1 {
  font-size: clamp(70px, 9em, 7777px);
  color: #dfdfdf;
  cursor: none;
  display: flex;
  overflow: hidden;
  font-weight: 300;
  width: 100vw;
}
body main h1 span {
  letter-spacing: 7px;
  text-transform: uppercase;
}
body main h1 .container {
  display: flex;
  animation: 37s slide infinite linear;
}
body main h1 .container span {
  margin-left: 0.7em;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse-anim {
  0% {
    opacity: 80%;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 80%;
  }
}/*# sourceMappingURL=style.css.map */