* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  padding: 7.5px;
  padding-bottom: 0px;
  overflow-x: hidden;
}

/*        scrollbar        */

/* Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer */
body {
  -ms-overflow-style: none;
}
