$black: #0e0e0e;
$white: #d9d9d9;

$primary-font: "Rubik 80s Fade";
$secondary-font: "Cutive Mono";
$barcode-font: "Libre Barcode 39 Extended Text";

@mixin FlexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}
